* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Fredoka", sans-serif;
    font-size: 16px;
}

.container {
    width: 100%;
    max-width: 960px;
    min-width: 300px;
    margin: 0 auto;
    padding: 1em 0;
}

:root {
    --hflex-height: 40px;
}


/* CONTENT ---------- */
header {
    min-height: 70px;
    background-color: lightblue;
}

nav li {
    display: inline;
}

#head-flex .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 35px;
    flex-grow: 1;
    padding: 0 0.5em;
}

.row {
    display: flex;
    align-items: center;
}

.col-large {
    flex-grow: 2;
    text-align: center;
}

.text-right {
    text-align: right;
}

.section {
    padding: 2.5em;
    min-height: 300px;
}

.box {
    width: 90%;
    min-height: 275px;
    margin: 0 auto;
}

.flex, .flex-reverse {
    min-height: 300px;
}

.flex .col, .flex-reverse .col {
    min-height: 350px;
    flex-grow: 1;
}

.flex .col-large, .flex-reverse .col-large {
    min-height: 350px;
    flex-grow: 2;
}

.flex-reverse {
    flex-direction: row-reverse;
}

.bor-black {
    border: 2px dashed black;
}

.bg-orange {
    background-color: rgb(255, 176, 29);
}

.bg-blue {
    background-color: rgb(0, 0, 134);
}

.bg-purple {
    background-color: rgb(206, 102, 215);
}

.bg-lightblue {
    background-color: rgb(0, 110, 255);
}

.bg-rose {
    background-color: rgb(255, 195, 195);
}

.bg-lightgray {
    background-color: lightgray;
}