* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Fredoka", sans-serif;
    font-size: 16px;
}

.container {
    width: 100%;
    max-width: 960px;
    min-width: 300px;
    margin: 0 auto;
    padding: 1em 0;
}

:root {
    --hflex-height: 40px;
}


/* CONTENT ---------- */
header {
    min-height: 70px;
    background-color: lightblue;
}

nav li {
    display: inline;
}

#head-flex {
    background-color: rgb(255, 176, 29);
    min-height: 35px;
}

#head-flex .col-3 {
    text-align: right;
}

#jumbo {
    background-color: rgb(0, 0, 134);
}

#section-1 {
    min-height: 300px;
}

#section-1 .col-1 {
    min-height: 350px;
    flex-grow: 2;
    background-color: rgb(0, 110, 255);
}

#section-1 .col-2 {
    min-height: 350px;
    flex-grow: 1;
    background-color: rgb(255, 195, 195);
}

.row {
    display: flex;
    align-items: center;
}

.col {
    line-height: 35px;
    flex-grow: 1;
    border: 2px dashed black;
    padding: 0 0.5em;
}

.col-large {
    flex-grow: 2;
    text-align: center;
}

.section {
    padding: 2.5em;
    min-height: 300px;
}

.box {
    width: 90%;
    min-height: 275px;
    border: 2px dashed black;
    margin: 0 auto;
    background-color: rgb(206, 102, 215);
}